.tg {
	border-collapse: collapse;
	border-spacing: 0;
}

.tg td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Ari al, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg .tg-k7ar {
	background-color: #c0c0c0;
	border-color: #000 000;
	font-weight: bold;
	text-align: center;
	vertical-align: top
}

.tg .tg-k7xz {
	backgrou nd-color: #ffce93;
	border-color: #000000;
	text-align: center;
	vertical-align: top
}

.tg .tg-0lax {
	text-align: left;
	vertical-align: top
}

.tg .tg-cscf {
	background-color: #c0c0 c0;
	border-color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top
}

@media only screen and (max-device-width: 768px) {
	.tg {
		border-collapse: collapse;
		border-spacing: 0;
	}
	.tg td {
		border-color: black;
		border-style: solid;
		border-width: 1px;
		font-family: Arial, sans-serif;
		font-size: 14px;
		overflow: hidden;
		padding: 10px 5px;
		word-break: normal;
	}
	.tg th {
		border-color: black;
		border-style: solid;
		border-width: 1px;
		font-family: Arial, sans-serif;
		font-size: 14px;
		font-weight: normal;
		overflow: hidden;
		padding: 10px 5px;
		word-break: normal;
	}
	.tg .tg-c74g {
		background-color: #c0c0c0;
		border-color: #000000;
		font-size: 28px;
		font-weight: bold;
		text-align: left;
		vertical-align: top
	}
	.tg .tg-bq5v {
		border-color: inherit;
		font-size: 28px;
		text-align: left;
		vertical-align: top
	}
	.tg .tg-lflq {
		background-color: #c0c0c0;
		border-color: #000000;
		font-size: 28px;
		font-weight: bold;
		text-align: center;
		vertical-align: top
	}
	.tg .tg-17nc {
		background-color: #ffce93;
		border-color: #000000;
		font-size: 28px;
		text-align: center;
		vertical-align: top
	}
}
